.App {
  text-align: center;
}

.App-logo {
  height: 2vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-background {
	height: 75vmin;
}

@media (prefers-reduced-motion: no-preference) {
	.App-background {
		animation: App-background-light 30s ease-in-out;
	}
}


.App-header {
  background-color: #000000;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-slogan {
  background-color: #f1efff;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: purple;
}

.App-body {
  background-color: #000000;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  img {
	  border: 1px solid #ddd;
	  border-radius: 4px;
	  padding: 5px;
	  width: 150px;
	}	
}

.App-footer {
  background-color: #000000;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
  word-spacing: 5px;
}

.App-link {
	display:flex;
	font-size: calc(4px + 1vmin);
  color: #f1efff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-background-light {
	
	0% {
  	opacity: 0;
  	}
  
	from {
		transform: scale(0);
	}
	to {
		transform: scale(19);
	}
	
	
 	 1%,100% {
  		opacity: 1;
 	 }
  
 	 0% {
  		opacity: 0;
  	}
   
}

